{% extends 'base.html' %}
{% block content %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

</head>
<body>


    <!-- <div class="base_content2"> -->
    
        
    <!-- <div class="footer_line_arrow_bow"></div> -->


    <div class="main_footer_content">
        <div class="base_content2">
    
        <div class="first_footer_content">
           <div class=" first_footer_content1">
            <label for="">Categories</label>

            <p><a href="">About Us</a>
                <a href="">Foods</a>
                <a href="">Accessories</a>
                <a href="">Grooming & Beauty</a>
                <a href="">Discount</a>
            </p>
           </div>


           <div class=" first_footer_content2">
            <label for="">Payment Methods</label>

            
                <p><img src="/media/website_icons/cod.jpg" alt=""> Cash On Delivery
            </p>

           </div>


           <div class="first_footer_content3">
            <label for="">Address</label>

            <p>Address: {% if info.address %}<a href="{{ info.location }}">{{ info.address }} <i class="bi bi-arrow-up-right-square"></i></a> {% else %} <a href="https://www.google.com/maps/place/Buy+More+Mart/@16.8357569,96.1136676,15z/data=!4m6!3m5!1s0x30c1956299e6b48b:0xd2f9fd3513d2e941!8m2!3d16.8357569!4d96.1136676!16s%2Fg%2F11s640nsb1?entry=ttu">Yatanar Mon 5th St, Yangon<i class="bi bi-arrow-up-right-square"></i></a>{% endif %}
            {% if info.phone %} Phone: {{ info.phone }} {% else %} Phone: +959785525528 {% endif %}
            {% if info.email %} {{ info.email }} {% else %} BuyMoreMart@gmail.com {% endif %}
{% if info.buy_more_mart_info %}<words>{{ info.buy_more_mart_info }}</words>{% else %}<words>Buy More Mart is a mart store which starts in Yangon Daily 9:00 AM to 8:00 PM.</words>{% endif %}
        </p>

           </div>
        </div>



        <div class="below_first_footer_content">
        <div class="below_first_footer_content1">
            <label for="">Connect with us</label>

<p><a href=""><i class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-youtube"></i></a> <a href=""><i class="bi bi-messenger"></i></a>
</p>
</div>
        </div>
        

        <!-- <div class="footer_line_arrow"></div> -->



    </div>

</div>




    
<div class="main_footer_content2">


    <div class="base_content2">
        <div class="second_footer_content">


            <div class="second_footer_content1">
                <ul>
                    {% if info.address %}
                    <li>Address: <a href="{{ info.location }}">{{ info.address }}</a></li>
                        {% else %}
                        <li>Address: <a href="https://www.google.com/maps/place/Buy+More+Mart/@16.8357569,96.1136676,15z/data=!4m6!3m5!1s0x30c1956299e6b48b:0xd2f9fd3513d2e941!8m2!3d16.8357569!4d96.1136676!16s%2Fg%2F11s640nsb1?entry=ttu">Yatanar Mon 5th St, Yangon</a></li>
                    {% endif %}

                    {% if info.phone %}
                    <li>Phone: {{ info.phone }}</li>
                        {% else %}
                    <li>Phone: +959785525528</li>
                    {% endif %}

                    <li>Founder: Yoon Ei Myint Mo</li>
                    
                    {% if info.email %}
                    <li>Office Mail: {{ info.email }}</li>
                        {% else %}
                    <li>Office Mail: BuyMoreMart@gmail.com</li>
                    {% endif %}

                    

                </ul>

            </div>


            <div class=" second_footer_content2">
                <p>© 2023, Buy More Mart. All rights reserved</p>
            </div>


        </div>
    </div>
    
</div>



    
</body>




{% endblock %}