{% extends 'base.html' %}
{% block content %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    
</head>

{% load humanize %}

<body>

   {% include 'header.html' %}

   <div class="main_website_cover">
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner">
      <div class="carousel-item active website_cover_item1">
        <img class="d-block w-100 website_cover" src="media/website_images/shin.jpg" alt="First slide">
      </div>
      <div class="carousel-item website_cover_item2">
        <img class="d-block w-100 website_cover" src="media/website_images/maybelline.jpeg" alt="Second slide">
      </div>
      <div class="carousel-item website_cover_item3">
        <img class="d-block w-100 website_cover" src="media/website_images/loreal.jpg" alt="Third slide">
      </div>
    </div>


    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>




<div class="base_content2">

  <div class="main_body_content">
    <div class="body_content">
      
      
      
      <div class="first_main_body_content">
        
        
        
        <a href="{% url 'foods' %}" class="body_content_item">
          <img class="" src="media/website_images/food_category.jpg">
          
          <p>Foods</p>
        </a>
      
 

   
        <a href="{% url 'accessories' %}" class="body_content_item">
          <img class="" src="media/website_images/accessories_feature.png">
          
          <p>Accessories</p>
        </a>
  



        <a href="{% url 'gb' %}" class="body_content_item">
          <img class="" src="media/website_images/beauty_feature.jpg">

          <p>Beauty</p>
        </a>


        <a href="{% url 'new_arrivals' %}" class="body_content_item">
          <img class="" src="media/website_images/newArrival_feature.jpg">
          
          <p>New Arrivals</p>
        </a>
    

      </div>
      

      

  <div class="feature_body">

        <div class="feature_top">
          <h3>Featured Products</h3>
          <a class="index_feature_more" href="{% url 'products' %}">More <i class="bi bi-arrow-right"></i></a>
        </div>
      



      <div class="feature_products">



            {% for each_product in all_products %}

            <a href="{% url 'product' each_product.id %}" class="feature_products_item">
                  <div class="feature_products_item_img">
                  <img src="{{ each_product.image.url }}" alt="" >
                </div>

                  <p>{{ each_product.name|truncatechars:44 }}</p>
                  <h6>{{ each_product.title|truncatechars:24 }}</h6>
                  
                  {% if each_product.discount %}
                  <p class="feature_products_price">Ks{{ each_product.discount|intcomma }}</p>
                  {% else %}
                  <p class="feature_products_price">Ks{{ each_product.price|intcomma }}</p>
                  {% endif %}
                  
                  <div class="feature_products_item_bottom">
                    {% if each_product.discount %}
                  <p class="feature_products_discount_price">Ks{{ each_product.price|intcomma }}</p>
                    {% else %}
                  <p class="feature_products_discount_price"></p>
                    {% endif %}
                    
                    <object>
                      <form method="POST" action="{% url 'add_cart' %}" id="form" enctype="multipart/form-data">
                          {% csrf_token %}
                        <input name="product_id" id="product_id" type="text" value="{{ each_product.id }}" hidden>
                          <button type="submit" class="bi bi-cart"></button>
                      </form>
                    </object>
                </div>
            </a>
        
            {% endfor %}

      </div>
  </div>







  <div class="beauty_body">

          <div class="beauty_top">
            <h3>For Lady</h3>
            <a href="{% url 'gb' %}">More <i class="bi bi-arrow-right"></i></a>
          </div>


          <div class="products_scroll">
            <div class="previous_scroll">
              <button class="beauty_left"><i class="</button>bi bi-chevron-left"></i></button>
            </div>
            <div class="next_scroll">
              <button class="beauty_right"><i class="bi bi-chevron-right"></i></button>
            </div>
          </div>

          <div class="products_scroll2">
            <div class="previous_scroll">
              <button class="beauty_left2"><i class="</button>bi bi-chevron-left"></i></button>
            </div>
            <div class="next_scroll">
              <button class="beauty_right2"><i class="bi bi-chevron-right"></i></button>
            </div>
          </div>
        

            <div class="beauty_products">

              {% for beauty_item in beauty %}
                <a href="{% url 'product' beauty_item.id %}" class="beauty_products_item">
                  <div class="beauty_products_item_img">
                  <img src="{{ beauty_item.image.url }}" alt="">
                </div>

                  <p>{{ beauty_item.name|truncatechars:44 }}</p>
                  <h6>{{ beauty_item.title|truncatechars:24 }}</h6>
                  
                  {% if beauty_item.discount %}
                  <p class="beauty_products_price">Ks{{ beauty_item.discount|intcomma }}</p>
                  {% else %}
                  <p class="beauty_products_price">Ks{{ beauty_item.price|intcomma }}</p>
                  {% endif %}

                  <div class="beauty_products_item_bottom">
                      {% if beauty_item.discount %}
                  <p class="beauty_products_discount_price">Ks{{ beauty_item.price|intcomma }}</p>
                      {% else %}
                  <p class="beauty_products_discount_price"></p>
                      {% endif %}
                  
                      <object>
                        <form method="POST" action="{% url 'add_cart' %}" id="form" enctype="multipart/form-data">
                            {% csrf_token %}
                          <input name="product_id" id="product_id" type="text" value="{{ beauty_item.id }}" hidden>
                            <button type="submit" class="bi bi-cart"></button>
                        </form>
                      </object>
                </div>
                </a>
              {% endfor %}

            </div>
            
        

  </div>


<script src="{% static 'js/index_beauty_array.js' %}"></script>






  <div id="myCarousel2" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel2" data-slide-to="1"></li>
      <li data-target="#myCarousel2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active website_cover_item1">
        <img class="d-block w-100 website_cover2" src="media/website_images/bmm1.jpg" alt="First slide">
      </div>
      <div class="carousel-item website_cover_item2">
        <img class="d-block w-100 website_cover2" src="media/website_images/beer1.jpg" alt="Second slide">
      </div>
      <div class="carousel-item website_cover_item3">
        <img class="d-block w-100 website_cover2" src="media/website_images/beer2.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>









  <div class="accessories_body">

    <div class="accessories_top">
      <h3>For Family</h3>
      <a href="{% url 'accessories' %}">More <i class="bi bi-arrow-right"></i></a>
    </div>


    <div class="products_scroll">
      <div class="previous_scroll">
        <button class="accessories_left"><i class="</button>bi bi-chevron-left"></i></button>
      </div>
      <div class="next_scroll">
        <button class="accessories_right"><i class="bi bi-chevron-right"></i></button>
      </div>
    </div>
  

    <div class="products_scroll2">
      <div class="previous_scroll">
        <button class="accessories_left2"><i class="</button>bi bi-chevron-left"></i></button>
      </div>
      <div class="next_scroll">
        <button class="accessories_right2"><i class="bi bi-chevron-right"></i></button>
      </div>
    </div>


      <div class="accessories_products">

            {% for accessories_item in accessories %}
          <a href="{% url 'product' accessories_item.id %}" class="accessories_products_item">
            <div class="accessories_products_item_img">
            <img src="{{ accessories_item.image.url }}" alt="">
          </div>

            <p>{{ accessories_item.name|truncatechars:44 }}</p>
            <h6>{{ accessories_item.title|truncatechars:24 }}</h6>

            {% if accessories_item.discount %}
            <p class="accessories_products_price">Ks{{ accessories_item.discount|intcomma }}</p>
            {% else %}
            <p class="accessories_products_price">Ks{{ accessories_item.price|intcomma }}</p>
            {% endif %}
              
            <div class="accessories_products_item_bottom">
              {% if accessories_item.discount %}
            <p class="accessories_products_discount_price">Ks{{ accessories_item.price|intcomma }}</p>
              {% else %}
            <p class="accessories_products_discount_price"></p>
              {% endif %}
            
              <object>
                <form method="POST" action="{% url 'add_cart' %}" id="form" enctype="multipart/form-data">
                    {% csrf_token %}
                  <input name="product_id" id="product_id" type="text" value="{{ accessories_item.id }}" hidden>
                    <button type="submit" class="bi bi-cart"></button>
                </form>
              </object>
          </div>
          </a>
            {% endfor %}

      </div>
    

</div>



<script src="{% static 'js/index_accessories_array.js' %}"></script>


    
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>
           <li data-target="#myCarousel" data-slide-to="2"></li>
         </ol>
         <div class="carousel-inner">
           <div class="carousel-item active website_cover_item1">
             <img class="d-block w-100 website_cover2" src="media/website_images/discount1.jpg" alt="First slide">
           </div>
           <div class="carousel-item website_cover_item2">
             <img class="d-block w-100 website_cover2" src="media/website_images/discount2.jpg" alt="Second slide">
           </div>
           <div class="carousel-item website_cover_item3">
             <img class="d-block w-100 website_cover2" src="media/website_images/discount3.jpg" alt="Third slide">
           </div>
         </div>
         <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
         </a>
       </div>




       
    <div class="discount_body">
        
          <div class="discount_top">
            <h3>Discount</h3>
            <a href="{% url 'discount' %}">More <i class="bi bi-arrow-right"></i></a>
          </div>
        

      <div class="discount_products">

            {% for discount_item in discount %}
          <a href="{% url 'product' discount_item.id %}" class="discount_products_item">
            <div class="discount_products_item_img">
            <img src="{{ discount_item.image.url }}" alt="">
          </div>

            <p>{{ discount_item.name|truncatechars:44 }}</p>
            <h6>{{ discount_item.title|truncatechars:24 }}</h6>
            
            {% if discount_item.discount %}
            <p class="discount_products_price">Ks{{ discount_item.discount|intcomma }}</p>
            {% else %}
            <p class="discount_products_price">Ks{{ discount_item.price|intcomma }}</p>
            {% endif %}
            
            <div class="discount_products_item_bottom">
              {% if discount_item.discount %}
            <p class="discount_products_discount_price">Ks{{ discount_item.price|intcomma }}</p>
              {% else %}
            <p class="discount_products_discount_price"></p>
              {% endif %}
            
              <object>
                <form method="POST" action="{% url 'add_cart' %}" id="form" enctype="multipart/form-data">
                    {% csrf_token %}
                  <input name="product_id" id="product_id" type="text" value="{{ discount_item.id }}" hidden>
                    <button type="submit" class="bi bi-cart"></button>
                </form>
              </object>
          </div>
        </a>
          {% endfor %}
        
        </div>
    </div>



      



    <div class="newArrivals_body">

      <div class="newArrivals_top">
        <h3>New Arrivals</h3>
        <a href="{% url 'new_arrivals' %}">More <i class="bi bi-arrow-right"></i></a>
      </div>
  
  
      <div class="products_scroll">
        <div class="previous_scroll">
          <button class="newArrivals_left"><i class="</button>bi bi-chevron-left"></i></button>
        </div>
        <div class="next_scroll">
          <button class="newArrivals_right"><i class="bi bi-chevron-right"></i></button>
        </div>
      </div>


      <div class="products_scroll2">
        <div class="previous_scroll">
          <button class="newArrivals_left2"><i class="</button>bi bi-chevron-left"></i></button>
        </div>
        <div class="next_scroll">
          <button class="newArrivals_right2"><i class="bi bi-chevron-right"></i></button>
        </div>
      </div>
    
  
        <div class="newArrivals_products">

              {% for new_arrivals_item in new_arrivals %}
            <a href="{% url 'product' new_arrivals_item.id %}" class="newArrivals_products_item">
              <div class="newArrivals_products_item_img">
              <img src="{{ new_arrivals_item.image.url }}" alt="">
            </div>
  
              <p>{{ new_arrivals_item.name|truncatechars:44 }}</p>
              <h6>{{ new_arrivals_item.title|truncatechars:24 }}</h6>

              {% if new_arrivals_item.discount %}
              <p class="newArrivals_products_price">Ks{{ new_arrivals_item.discount|intcomma }}</p>
              {% else %}
              <p class="newArrivals_products_price">Ks{{ new_arrivals_item.price|intcomma }}</p>
              {% endif %}

              <div class="newArrivals_products_item_bottom">
                {% if new_arrivals_item.discount %}
              <p class="newArrivals_products_discount_price">Ks{{ new_arrivals_item.price|intcomma }}</p>
                {% else %}
              <p class="newArrivals_products_discount_price"></p>
                {% endif %}
              
                <object>
                  <form method="POST" action="{% url 'add_cart' %}" id="form" enctype="multipart/form-data">
                      {% csrf_token %}
                    <input name="product_id" id="product_id" type="text" value="{{ new_arrivals_item.id }}" hidden>
                      <button type="submit" class="bi bi-cart"></button>
                  </form>
                </object>
            </div>
            </a>
              {% endfor %}
  
        </div>
        
    
  
  </div>



  <script src="{% static 'js/add_cart.js' %}"></script>
  <script src="{% static 'js/index_newArrivals_array.js' %}"></script>













      

    </div>
</div>


</div>
</body>


{% include 'footer.html' %}





{% endblock %}
