



.base_content4 {
    margin: auto;
    max-width: 1920px;
    
    min-width: 260px;
}


.main_product_body_content {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 110px;
    /* background-color: #f2f2f2; */
}


.product_body_content {
    margin: auto;
    max-width: 60%;
    /* background-color: #f2f2f2; */
}


.current_link {color:#8a8787;font-size: 14px;}
.current_link:hover {color:#8a8787;text-decoration: none;}

.current_link a {color:#8a8787;font-size: 14px;}
.current_link a:hover {color:#8a8787;text-decoration: none;}





.one_product_title {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 7px;
}

.one_product_title h5 {color:#3d3d3d;}
.one_product_title span {color:#8a8787}








.one_product_body {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px 20px 20px 0;
}

.one_product_body {
    display: flex;
}

.one_product_image {
    width: 410px;
    height: 320px;
    object-fit: contain;
}

.image_choice {
    display: flex;
    overflow: auto;
    margin-top: 10px;
    margin-left: -2px;
    padding-top: 10px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    width: 410px;
}

.image_choice::-webkit-scrollbar {height: 10px;}
.image_choice::-webkit-scrollbar-track {background: #e6e6e6;}
.image_choice::-webkit-scrollbar-thumb {background-color: #afafaf;}
.image_choice::-webkit-scrollbar-thumb:hover {background-color: #888;}

/* .image_choice::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
} */


.image_choice .image_choice_item .image_choice_item_img {text-align: center;}

.image_choice .image_choice_item .image_choice_item_img img {padding: 15px;border: 1px solid #afafaf;border-radius: 20%;object-fit: contain;min-width: 100px;height: 80px;margin-right: 10px;cursor: pointer;}


#one_logo2 {display: none;}
#one_logo3 {display: none;}
#one_logo4 {display: none;}



.one_product_text_group {
    margin-left: 30px;
}

.one_product_text {
    color: #3d3d3d;
    line-height: 7px;
}

.one_product_price {
    margin-top: 80px;
    line-height: 7px;
    height: 50px;
    border-bottom: solid 1px #afafaf;
}

.one_product_price .price {font-size: 23px;color: #3d3d3d;}
.one_product_price .discount {text-decoration: line-through;color: #3d3d3d;}

.one_product_payment {
    margin-top: 50px;
}

.one_product_payment p {font-size: 14px;font-weight: 500;}
.one_product_payment span {font-size: 14px;color:#FD8C00;font-weight: 500;}


.one_product_payment .payment_cart {width: 200px;background-color: #FD8C00;color: #3d3d3d;}
.one_product_payment .payment_cart:hover {background-color: #f7a644;color: #3d3d3d;}
.one_product_payment .payment_cart:focus {box-shadow: none;}

.deliver_logo {width: 48px;height: 40px;}


.one_product_payment_amount_group {display: flex;margin-bottom: 13px;}
.one_product_payment_amount_group .minus {margin-right: 15px;border-color: #000;padding: 2px 7px 0 7px;height: 30px;font-size: 16px;}
.one_product_payment_amount_group .minus:hover {border-color: #0d6efd;background-color: #FD8C00;}

.one_product_payment_amount_group .number {margin-right: 15px;}
.one_product_payment_amount_group .plus {margin-right: 15px;border-color: #000;padding: 2px 7px 0 7px;height: 30px;font-size: 16px;}
.one_product_payment_amount_group .plus:hover {border-color: #0d6efd;background-color: #FD8C00;}









.one_product_bottom {
    padding-bottom: 50px;
    margin: 50px 0 50px 0;
    border-bottom: solid 1px #e0e0e0;
}

.one_product_bottom p {
    font-weight: 500;
}













.one_product_array {
    margin: 80px 0 80px 0;
}

.one_product_array .one_product_array_top {
    display: flex;
    justify-content: space-between;
}

.one_product_array h3 {
    color: #252525;
    font-weight: 600;
    font-size: 22px;

}

.one_product_array a {
    color: #252525;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
}


.one_product_array .one_products {
    display: flex;
    overflow: auto;
    margin-top: -10px;
    padding-bottom: 10px;
    justify-content: space-between;
    scroll-behavior: smooth;
}

.one_product_array .one_products::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
}


.one_product_array .one_products .one_products_item {
    min-width: 16.9%;
    box-shadow: 0 2px 8px 1px rgba(0,0,0,0.2);
    padding: 12px;
    padding-bottom: 20px;
    margin-left: 3px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: top ease 0.2s;
    position: relative;
    top: 0;
}

.one_product_array .one_products .one_products_item:hover {
    top: -5px;
}

.one_product_array .one_products .one_products_item .one_products_item_img {text-align: center;}

.one_product_array .one_products .one_products_item img {width: 90px;height: 90px;margin-bottom: 10px;object-fit: contain;}

.one_product_array .one_products p {font-size: 14px;line-height: 18px;color:#3d3d3d;word-break: break-word;font-weight: normal;}

.one_product_array .one_products h6 {font-weight: normal;font-size: 14px;margin-top: -13px;color: #8a8787;word-break: break-word;}

.one_product_array .one_products .one_products_price {margin-top: -3px;font-size: 18px;word-break: break-word;color: #ffb348;font-weight: 500;}


.one_product_array .one_products .one_products_item .one_products_item_bottom {display: flex;margin-top: -13px;justify-content: space-between;}
.one_product_array .one_products .one_products_discount_price {font-size: 14px;text-decoration: line-through;word-break: break-word;}
.one_product_array .one_products .one_products_item .one_products_item_bottom button {border: none;background-color: transparent;
    margin-top: -6px;font-size: 17px;text-decoration: none;color: #3d3d3d;}


@media (max-width: 1316px) {
    .one_product_array .one_products .one_products_item {
        min-width: 28.7%;
    }
}


@media (max-width: 900px) {
    .one_product_body {
        display: block;
    }
    .one_product_text_group {
        margin-left: 0;
        margin-top: 30px;
    }
}


@media (max-width: 760px) {
    .one_product_array .one_products p {font-size: 13px;}
    .one_product_array .one_products h6 {font-size: 13px;}
    .one_product_array .one_products .one_products_item .one_products_item_bottom button {font-size: 17px;}

    .one_product_array .one_products .one_products_item img {width: 75px;height: 75px;margin-bottom: 10px;}
}



@media (max-width: 775px) {
    .product_body_content {margin: auto;max-width: 80%;}


    .one_product_array h3 {font-size: 19px;}
    .one_product_array a {font-size: 17px;}

    .one_product_array .one_products .one_products_item {
        min-width: 42.2%;
        margin-right: 8px;
    }

    .one_product_array .one_products .one_products_item img {width: 75px;height: 75px;margin-bottom: 10px;}
}




@media (max-width: 488px) {
    .one_product_image {
        width: 280px;
        height: 190px;
        object-fit: contain;
    }
    .image_choice {
        width: 210px;
    }
}


@media (max-width: 395px) {
    .one_product_array .one_products .one_products_item .one_products_item_bottom {
        display: block;margin-top: -10px;
    }
    .one_product_array .one_products .one_products_item .one_products_item_bottom button {
        border: none;background-color: transparent;margin-left: -5px;margin-top: 5px;
        font-size: 17px;text-decoration: none;color: #3d3d3d;
    }
    
    .one_product_array .one_products .one_products_price {font-size: 17px;}
    .one_product_array .one_products .one_products_discount_price {margin-bottom: 2px;
        font-size: 14px;text-decoration: line-through;word-break: break-word;}
}


@media (max-width: 366px) {
    .one_product_array .one_products .one_products_price {font-size: 16px;}
    .one_product_array .one_products .one_products_discount_price {font-size: 13px;}
}


@media (max-width: 340px) {
    .one_product_image {
        width: 210px;
        height: 190px;
        object-fit: cover;
    }
    .image_choice {
        width: 210px;
    }
}




@media (max-width: 350px) {
    .one_product_array h3 {font-size: 16px;}
    .one_product_array a {font-size: 14px;}

    .one_product_array .one_products .one_products_item img {width: 70px;height: 65px;}
    .one_product_array .one_products p {font-size: 11px;line-height: 13px;}
    .one_product_array .one_products h6 {font-size: 11px;}
    .one_product_array .one_products .one_products_item .one_products_item_bottom button {font-size: 13px;}
    .one_product_array .one_products .one_products_item {
        min-width: 46.5%;
    }
}


@media (max-width: 314px) {
    .one_product_array .one_products .one_products_price {font-size: 14px;}
    .one_product_array .one_products .one_products_discount_price {font-size: 12px;}
}


@media (max-width: 283px) {
    .one_product_array .one_products .one_products_price {font-size: 12px;}
    .one_product_array .one_products .one_products_discount_price {font-size: 10px;}
}
