{% extends 'base.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/beauty.css' %}">

</head>

{% load humanize %}

<body>

   {% include 'header.html' %}

   <div class="base_content2 beauty_content">
    <div class="main_body_content">
      <div class="body_content">


        <div class="current_link"><a href="{% url 'index' %}"> Home</a> > <a>Beauty</a></div>

      <div class="category_drop">

          <div class="dropdown">
            <button class="btn btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Types
            </button>
            <ul class="dropdown-menu drop-menu-bs">

              <li><a class="dropdown-item drop-item-bs" href="{% url 'gb' %}">Types</a></li>
                {% for each_type in item_type %}
              <li><a class="dropdown-item drop-item-bs" href="{% url 'beauty_type' each_type.name %}">{{ each_type.name }}</a></li>
                {% endfor %}

            </ul>
          </div>


          <div class="dropdown">
            <button class="btn btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Price
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'gb' %}">Price</a></li>
              <li><a class="dropdown-item" href="{% url 'beauty_price' 'min_price' %}">Start from min</a></li>
              <li><a class="dropdown-item" href="{% url 'beauty_price' 'max_price' %}">Start from max</a></li>
            </ul>
          </div>


          <div class="dropdown">
            <button class="btn btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Brand
            </button>
            <ul class="dropdown-menu drop-menu-bs">
              
              <li><a class="dropdown-item drop-item-bs" href="{% url 'gb' %}">Brand</a></li>
              {% for each_beauty in beauty %}
                {% if each_beauty.brand %}
              <li><a class="dropdown-item drop-item-bs" href="{% url 'beauty_brand' each_beauty.brand %}">{{ each_beauty.brand }}</a></li>
                {% endif %}
              {% endfor %}

            </ul>
          </div>

      </div>


{% if category_key and category_value %}
<p class="category_info">{{ category_key }}: <span>{{ category_value }}</span></p>
{% endif %}


{% if items %}
<div class="beauty_feature">
      <div class="feature_body">

        <div class="feature_top">
          <h3>Beauty</h3>

          <div class="feature_pagination">
          <ul>

            {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}" class="tab_design_left"><li><i class="bi bi-chevron-left"></i></li></a>
            {% else %}
            <a class="tab_design_left"><li><i class="bi bi-chevron-left"></i></li></a>
            {% endif %}

            
            <!-- {% if items.number == items.paginator.num_pages %}
            <a id="" class="pag tab_design" href="?page={{ items.number|add:'-2' }}"><li>{{ items.number|add:'-2' }}</li></a>
            {% endif %} -->


            <!-- first number page -->
            {% if items.number != 2 and items.number != 3 and items.number != 1 %}
            <a class="pag tab_design" href="?page=1"><li>1</li></a>
            {% endif %}


            {% if items.number >= 5  %}
            <a class="tab_design_dot"><li>...</li></a>
            {% endif %}  


            
            {% for item in items.paginator.page_range %}
            {% if items.number == item and item != items.paginator.num_pages %}
            
            <a id="prodcut_active" class="pag tab_design" href="?page={{ item }}"><li>{{ item }}</li></a>

            {% elif item > items.number|add:'-3' and item <  items.number|add:'2' and item != items.paginator.num_pages %}

            <a id="" class="pag tab_design" href="?page={{ item }}"><li>{{ item }}</li></a>
            
            {% endif %}
            {% endfor %}


            

            {% if items.paginator.num_pages > 3 %}
            {% if items.number != items.paginator.num_pages and items.number != items.paginator.num_pages|add:'-1' and items.number != items.paginator.num_pages|add:'-2'%}
            <a class="tab_design_dot"><li>...</li></a>
            {% endif %}        
            {% endif %}



            <a id="" class="pag tab_design" href="?page={{ items.paginator.num_pages }}"><li>{{ items.paginator.num_pages }}</li></a>


            {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}" class="tab_design_right"><li><i class="bi bi-chevron-right"></i></li></a>
            {% else %}
            <a class="tab_design_right"><li><i class="bi bi-chevron-right"></i></li></a>
            {% endif %}

          </ul>
            </div>
        </div>

        
      

      <div class="feature_products">

        {% for item in items %}
        <a href="{% url 'product' item.id %}" class="feature_products_item">
          <div class="feature_products_item_img">
          <img src="{{ item.image.url }}" alt="" >
        </div>

          <p>{{ item.name }}</p>
          <h6>{{ item.title }}</h6>

          {% if item.discount %}
          <p class="feature_products_price">Ks{{ item.discount|intcomma }}</p>
          {% else %}
          <p class="feature_products_price">Ks{{ item.price|intcomma }}</p>
          {% endif %}
          
          <div class="feature_products_item_bottom">
              {% if item.discount %}
          <p class="feature_products_discount_price">Ks{{ item.price|intcomma }}</p>
              {% else %}
          <p class="feature_products_discount_price"></p>
              {% endif %}
              <object>
                <form method="POST" action="{% url 'add_cart' %}" id="form" enctype="multipart/form-data">
                    {% csrf_token %}
                  <input name="product_id" id="product_id" type="text" value="{{ item.id }}" hidden>
                    <button type="submit" class="bi bi-cart"></button>
                </form>
              </object>
        </div>
        </a>
            {% endfor %}

            
        </div>
      </div>
      
</div>











      <div class="feature_pagination2">
          <ul>

            {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}" class="tab_design_left"><li><i class="bi bi-chevron-left"></i></li></a>
            {% else %}
            <a class="tab_design_left"><li><i class="bi bi-chevron-left"></i></li></a>
            {% endif %}

            {% if items.number != 2 and items.number != 3 and items.number != 1 %}
            <a class="pag tab_design" href="?page=1"><li>1</li></a>
            {% endif %}

            {% if items.number >= 5  %}
            <a class="tab_design_dot"><li>...</li></a>
            {% endif %}  

            {% for item in items.paginator.page_range %}
            {% if items.number == item and item != items.paginator.num_pages %}
            
            <a id="prodcut_active" class="pag tab_design" href="?page={{ item }}"><li>{{ item }}</li></a>

            {% elif item > items.number|add:'-3' and item <  items.number|add:'2' and item != items.paginator.num_pages %}

            <a id="" class="pag tab_design" href="?page={{ item }}"><li>{{ item }}</li></a>
            
            {% endif %}
            {% endfor %}

            {% if items.paginator.num_pages > 3 %}
            {% if items.number != items.paginator.num_pages and items.number != items.paginator.num_pages|add:'-1' and items.number != items.paginator.num_pages|add:'-2'%}
            <a class="tab_design_dot"><li>...</li></a>
            {% endif %}        
            {% endif %}

            <a id="" class="pag tab_design" href="?page={{ items.paginator.num_pages }}"><li>{{ items.paginator.num_pages }}</li></a>


            {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}" class="tab_design_right"><li><i class="bi bi-chevron-right"></i></li></a>
            {% else %}
            <a class="tab_design_right"><li><i class="bi bi-chevron-right"></i></li></a>
            {% endif %}

          </ul>
        </div>
  </div>


{% else %}

<p class="no_item">No products found.</p>

{% endif %}



    <script src="{% static 'js/add_cart.js' %}"></script>
    <script src="{% static 'js/prodcut_active.js' %}"></script>






  

</div>
</div>

</body>


    {% include 'footer.html'%}

</html>


{% endblock %}