





.login_main_footer_content2 {width: 100%;min-width: 275px;max-height: 100%;
    box-shadow: 0px -4px 3px rgba(235, 235, 235, 0.75);
}
.login_second_footer_content {padding: 10px 0 5px 0;margin: auto;width: 60%;text-align: center;}
.login_second_footer_content1 {margin: 5px 0 5px 0;display: block;font-size: 13px;color: #706d6d;}
.login_second_footer_content1 ul {list-style: none;}
.login_second_footer_content1 ul li {display: inline-block;margin: 0 30px 0 0;}
.login_second_footer_content1 ul a {color: #706d6d;}
.login_second_footer_content2 p {font-size: 13px;color: #706d6d;}









.base_content3 {
    margin: auto;
    max-width: 1600px;
    min-width: 275px;
}

.main_login_content {
    width: 100%;
    margin-top: 20px;
}

.login_content {
    margin: auto;
    margin-bottom: 70px;
    width: 20%;
    padding: 20px;
    box-shadow: 0 3px 10px 3px rgba(0,0,0,0.2);
    border-radius: 1%;
}

.login_content .form-label {font-size: 14px;}

.login_content .form-control {}
.login_content .account_e {background-color: #E8F0FE;}

.login_content .account_header_text {color: #3d3d3d;}
.login_content .account_header_text h5 {font-size: 20px;font-weight: 700;font-family: sans-serif;}
.login_content .account_header_text p {color:#706d6d;font-size: 13px;font-family: sans-serif;}


.login_content .btn {
    border: 1px solid #999999;
    border-radius: 5%;
    background-color: #FD8C00;
    color: #3b3b3b;
    box-shadow: none;
}

.login_content .acc_info {margin-left: 10px;font-size: 13px;}
.login_content .acc_info a {margin-left: 3px;font-size: 13px;color:#0d6efd;}

.login_content .form-control:focus {border-color: rgb(183, 185, 37);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(183, 185, 37);}





.main_login_top {
    box-shadow: 0 3px 2px -2px rgba(235, 235, 235, 0.75);
}

.login_top {
    margin: auto;
    width: 85%;
    /* margin-left: 20px; */
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.login_image {
    width: 230px;
    height: 60px;
    object-fit: cover;
}





/* @media (min-width: 363px) {
    .login_main_footer_content2 {
        position: absolute;bottom: 0;
    }    
} */


@media (max-width: 1400px) {
    .login_content {
        width: 25%;
    }    
}


@media (max-width: 990px) {
    .login_content {
        width: 45%;
    }    
}



@media (max-width: 590px) {
    .login_content {
        width: 60%;
    }    
}


@media (max-width: 440px) {
    .login_content {
        width: 75%;
    }    
}


@media (max-width: 280px) {
    .login_content {
        
        width: 90%;
    }  
}