{% extends 'base.html' %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/order/order_fail.css' %}">


</head>

{% load humanize %}



<body>

    {% include 'header.html' %}


    <div class="base_content4">
        <div class="main_order_body">
          <div class="order_body">
    
                    <div class="order_header">
                            <div class="mb-2">
                                <h3>Your Order Failed</h3>
                            </div>
                                <div class="form-text">Thanks for chosing Buy More Mart!</div>
                                <h2><i class="bi bi-x-circle"></i></h2>
                    </div>



                    <div class="order_text_group">
                        <div class="order_left">
                            <div class="order_user">
                                <h4>User Detail</h4>
                                <ul>
                                    
                                    <li><label class="order_user_info" for="">Order Id: </label> {{ user_order.order_id }}</li>
                                    <li><label class="order_user_info" for="">Name: </label> {{ user.username }}</li>
                                    <li><label class="order_user_info" for="">Phone: </label> {{ user.phone_number }}</li>
                                    <li><label class="order_user_info" for="">Email: </label> {{ user.email }}</li>
                                    <li><label class="order_user_info" for="">City: </label> {{ user.city }}</li>
                                    <li><label class="order_user_info" for="">Address: </label> {{ user.address }}</li>

                                </ul>
                            </div>


                            <div class="order_item">
                                <h4>Item Detail</h4>
                                <ul>
                <li><label class="order_item_info" for="">Total Items: </label> {{ user_order.total_items }}</li>
                <li><label class="order_item_info" for="">Total Amount: </label> Ks{{ user_order.grand_total_price|intcomma }}</li>
                <li><label class="order_item_info" for="">Delivery Fee: </label> KS{{ user_order.delivery_fee|intcomma }}</li>
                <li><label class="order_item_info" for="">Order Items: </label> {{ user_order.each_product }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>


        </div>
    </div>
</div>


            


</body>


    {% include 'footer.html'%}

</html>


{% endblock %}