{% extends 'base.html' %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/one_product.css' %}">


</head>

  {% load humanize %}



<body>

    {% include 'header.html' %}



<div class="base_content4">
    <div class="main_product_body_content">
      <div class="product_body_content">


        <div class="current_link"><a href="{% url 'index' %}"> Home</a> > <a>{{ item.category.name  }}</a></div>


        <div class="one_product_title">
            <h5>{{ item.title }}</h5>
            {% if item.brand %}
              <span>Brand: {{ item.brand}}</span>
            {% else %}
              <span></span>
            {% endif %}
        </div>




    <div class="one_product_body">


            <div class="one_product_image_group">
                <img id="one_logo1" class="one_product_image" src="{{ item.image.url }}" alt="">

                  {% if item.image2 %}
                <img id="one_logo2" class="one_product_image" src="{{ item.image2.url }}" alt="">
                  {% endif %}

                  {% if item.image3 %}
                <img id="one_logo3" class="one_product_image" src="{{ item.image3.url }}" alt="">
                  {% endif %}

                  {% if item.image4 %}
                <img id="one_logo4" class="one_product_image" src="{{ item.image4.url }}" alt="">
                  {% endif %}
                


                <div class="image_choice">
                    <div class="image_choice_item">
                      <div class="image_choice_item_img">
                      <img class="one_logo1" src="{{ item.image.url }}" alt="">
                    </div>
                    </div>

                    <div class="image_choice_item">
                        <div class="image_choice_item_img">
                          {% if item.image2 %}
                        <img class="one_logo2" src="{{ item.image2.url }}" alt="">
                          {% endif %}
                      </div>
                      </div>


                      <div class="image_choice_item">
                        <div class="image_choice_item_img">
                          {% if item.image3 %}
                        <img class="one_logo3" src="{{ item.image3.url }}" alt="">
                          {% endif %}
                      </div>
                      </div>

                      <div class="image_choice_item">
                        <div class="image_choice_item_img">
                          {% if item.image4 %}
                        <img class="one_logo4" src="{{ item.image4.url }}" alt="">
                          {% endif %}
                      </div>
                      </div>
                </div>
            </div>

            
            
        <div class="one_product_text_group">
            <div class="one_product_text">
                <h6>{{ item.name }}</h6>
                  {% if item.brand %}
                <span>Brand: {{ item.brand }}</span>
                  {% else %}
                <span></span>
                  {% endif %}
            </div>


            <div class="one_product_price">
                {% if item.discount %}
                <p class="price">Ks{{ item.discount|intcomma }}</p>
                {% else %}
                <p class="price">Ks{{ item.price|intcomma }}</p>
                {% endif %}

                  {% if item.discount %}
                <p class="discount">Ks{{ item.price|intcomma }}</p>
                  {% else %}
                <p class="discount"></p>
                  {% endif %}
            </div>


            <div class="one_product_payment">
                <p>Payment Option: <img class="deliver_logo" src="/media/website_icons/cod.jpg" alt=""><span>Cash On Delivery</span></p>

                <form id="one_form" method="POST" action="{% url 'one_product_add_cart' %}">
                    {% csrf_token %}
                    <div class="one_product_payment_amount_group">
                      <input name="one_product_id" id="one_product_id" type="text" value="{{ item.id }}" hidden>
                        
                        <i id="mini_amount" class="minus bi bi-dash btn btn-sm"></i>

                          {% if user_cart_item.amount %}
                        <p id="existing_amount" class="number">{{ user_cart_item.amount }}</p>
                        <input name="amount" id="amount" type="text" value="{{ user_cart_item.amount }}" hidden>
                          {% else %}
                        <p id="existing_amount" class="number">1</p>
                        <input name="amount" id="amount" type="text" value="1" hidden>
                          {% endif %}

                        <i id="maxi_amount" class="plus bi bi-plus btn btn-sm"></i>
                    
                      </div>

                    <button type="submit" class="btn payment_cart" href="">Add to Cart</button>
                </form>

            </div>
        </div>


    </div>


    <script src="{% static 'js/other/one_product_img.js' %}"></script>




    <div class="one_product_bottom">
        <p>Prodcut Details</p>

        <div class="one_product_bottom_text">
            {{ item.description }}
        </div>
    </div>







    <div class="one_product_array">

        <div class="one_product_array_top">
          <h3>Suggestion</h3>
          {% if item.category.id == 1 %}
          <a href="{% url 'foods' %}">More <i class="bi bi-arrow-right"></i></a>

          {% elif item.category.id == 2 %}
          <a href="{% url 'accessories' %}">More <i class="bi bi-arrow-right"></i></a>

          {% elif item.category.id == 3 %}
          <a href="{% url 'gb' %}">More <i class="bi bi-arrow-right"></i></a>
          {% endif %}
        </div>
    
    
        <div class="products_scroll">
          <div class="previous_scroll">
            <button class="one_product_left"><i class="</button>bi bi-chevron-left"></i></button>
          </div>
          <div class="next_scroll">
            <button class="one_product_right"><i class="bi bi-chevron-right"></i></button>
          </div>
        </div>
  
  
        <div class="products_scroll2">
          <div class="previous_scroll">
            <button class="one_product_left2"><i class="</button>bi bi-chevron-left"></i></button>
          </div>
          <div class="next_scroll">
            <button class="one_product_right2"><i class="bi bi-chevron-right"></i></button>
          </div>
        </div>
      
        
          <div class="one_products">
    
            {% for suggest_item in suggest_items %}
              {% if suggest_item.title != item.title %}
            <a href="{% url 'product' suggest_item.id %}" class="one_products_item">
              <div class="one_products_item_img">
              <img src="{{ suggest_item.image.url }}" alt="">
            </div>
  
              <p>{{ suggest_item.name|truncatechars:44 }}</p>
              <h6>{{ suggest_item.title|truncatechars:24 }}</h6>

              {% if suggest_item.discount %}
              <p class="one_products_price">Ks{{ suggest_item.discount|intcomma }}</p>
              {% else %}
              <p class="one_products_price">Ks{{ suggest_item.price|intcomma }}</p>
              {% endif %}

              <div class="one_products_item_bottom">
                {% if suggest_item.discount %}
              <p class="one_products_discount_price">Ks{{ suggest_item.price|intcomma }}</p>
                {% else %}
              <p class="one_products_discount_price"></p>
                {% endif %}
              
                <object>
                  <form method="POST" action="{% url 'add_cart' %}" id="form" enctype="multipart/form-data">
                      {% csrf_token %}
                    <input name="product_id" id="product_id" type="text" value="{{ suggest_item.id }}" hidden>
                      <button type="submit" class="bi bi-cart"></button>
                  </form>
                </object>
            </div>
            </a>
                {% endif %}
              {% endfor %}
    
          </div>


        <script src="{% static 'js/other/one_product_add_cart.js' %}"></script>
        <script src="{% static 'js/add_cart.js' %}"></script>
        <script src="{% static 'js/other/one_product_array.js' %}"></script>




        </div>
    </div>
</div>





</body>


    {% include 'footer.html'%}

</html>


{% endblock %}